
h1{
  color:rgb(75, 51, 214);
  font-size:70px;
  font-style:oblique;
}
h2{
    color:rgb(255, 94, 0);
    font-size:50px;
    text-align: center; 
    font-style:oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
h3{
    color:#0a3f70bd;
    font-size:40px;
    font-style:normal;
  }
body{
    background-image: url('13.jpg');
    max-width: 400%;height: auto
}
ul{
    color:rgb(168, 92, 21);
    font-size:30px;
}
div{
    color:rgb(255, 255, 255);
}
img.center{display:block; margin-left: auto;margin-right: auto;max-width: 30%;height: auto;
}

p.center{text-align: center; 
  font-size:x-large;
  font-style:normal;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
